streamlit
python-dotenv
PyPDF2
langchain
langchain-huggingface
langchain-community
langchain-groq
sentence-transformers
pypdf
python-docx
pyttsx3
requests
speechrecognition
fpdf
langchain-openai
docx2txt
azure-search-documents
azure-identity
