streamlit
python-dotenv
PyPDF2
langchain
langchain-huggingface
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pypdf
python-docx
pywin32
SpeechRecognition
pyttsx3
requests
speechrecognition
fpdf
langchain-openai
docx2txt
azure-search-documents
azure-identity